/* CSS Document */
@import url('http://getbootstrap.com/dist/css/bootstrap.css');

html, body, .container-table {
    height: 100%;
    background: #eee;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v67/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: rtl;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.icons{
    color: #388E3C;
    margin-top: 24px;
    font-size: 6rem;
}

.icons-failed{
    color: #F44336;
    margin-top: 24px;
    font-size: 6rem;
}


.container-table {
    display: table;

}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.card {
    /* Add shadows to create the "card" effect */
    width: 70%;
    transition: 0.3s;
    max-width: 450px;
}
.card:hover {
    /* Add shadows to create the "card" effect */
    width: 70%;
    transition: 0.3s;
    max-width: 450px;
    border-radius: 15px;
    box-shadow: -0px 0px 40px rgba(244, 81, 30, 0.25);
}

.card-success {
    /* Add shadows to create the "card" effect */
    width: 70%;
    transition: 0.3s;
    max-width: 450px;
    border-radius: 15px;
    box-shadow: -0px 0px 40px rgba(62, 244, 30, 0.1);
}

.card-success:hover {
    /* Add shadows to create the "card" effect */
    width: 70%;
    transition: 0.3s;
    max-width: 450px;
    border-radius: 15px;
    box-shadow: -0px 0px 40px rgba(62, 244, 30, 0.25);
}



h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1.8rem;
}

.cardStyle {
    width: 100%;
    justify-content: center;
    background: white;
    text-align: center;
    border-radius: 15px;
    box-shadow: -0px 0px 40px rgba(244, 81, 30, 0.1);

}


/* Add some padding inside the card container */
.Customcontainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    font-family: "B Yekan";
    color:  #007ac1;
}

h3{
    font-family: "B Traffic";
    color:  #007ac1;
}
@media (min-width: 992px) {
    .card {
        /* Add shadows to create the "card" effect */
        width: 70%;
        transition: 0.3s;
    }

    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2rem;
    }
    .icons{
        color: #388E3C;
        margin-top: 24px;
        font-size: 9rem;
    }
    .icons-failed{
        color: #F44336;
        margin-top: 24px;
        font-size: 9rem;
    }
}

.pure-material-button-contained {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: "B Yekan";
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-contained::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
    opacity: 0.08;
}

.pure-material-button-contained:focus::before {
    opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.pure-material-button-contained:disabled::before {
    opacity: 0;
}

.pure-material-button-contained:disabled::after {
    opacity: 0;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}